In [4]:
import numpy as np
import pandas as pd

In [5]:
col_dict = {'acc_now_delinq': 'float64',
                 'addr_state': 'O',
                 'all_util': 'float64',
                 'annual_inc': 'float64',
                 'annual_inc_joint': 'float64',
                 'application_type': 'O',
                 'collection_recovery_fee': 'float64',
                 'collections_12_mths_ex_med': 'float64',
                 'delinq_2yrs': 'float64',
                 'desc': 'O',
                 'dti': 'float64',
                 'dti_joint': 'float64',
                 'emp_length': 'O',
                 'emp_title': 'O',
                 'funded_amnt': 'float64',
                 'funded_amnt_inv': 'float64',
                 'grade': 'O',
                 'home_ownership': 'O',
                 'id': 'int64',
                 'il_util': 'float64',
                 'initial_list_status': 'O',
                 'inq_fi': 'float64',
                 'inq_last_12m': 'float64',
                 'inq_last_6mths': 'float64',
                 'installment': 'float64',
                 'int_rate': 'float64',
                 'last_pymnt_amnt': 'float64',
                 'loan_amnt': 'float64',
                 'max_bal_bc': 'float64',
                 'member_id': 'int64',
                 'mths_since_last_delinq': 'float64',
                 'mths_since_last_major_derog': 'float64',
                 'mths_since_last_record': 'float64',
                 'mths_since_rcnt_il': 'float64',
                 'open_acc': 'float64',
                 'open_acc_6m': 'float64',
                 'open_il_12m': 'float64',
                 'open_il_24m': 'float64',
                 'open_il_6m': 'float64',
                 'open_rv_12m': 'float64',
                 'open_rv_24m': 'float64',
                 'out_prncp': 'float64',
                 'out_prncp_inv': 'float64',
                 'policy_code': 'float64',
                 'pub_rec': 'float64',
                 'purpose': 'O',
                 'pymnt_plan': 'O',
                 'recoveries': 'float64',
                 'revol_bal': 'float64',
                 'revol_util': 'float64',
                 'sub_grade': 'O',
                 'term': 'O',
                 'title': 'O',
                 'tot_coll_amt': 'float64',
                 'tot_cur_bal': 'float64',
                 'total_acc': 'float64',
                 'total_bal_il': 'float64',
                 'total_cu_tl': 'float64',
                 'total_pymnt': 'float64',
                 'total_pymnt_inv': 'float64',
                 'total_rec_int': 'float64',
                 'total_rec_late_fee': 'float64',
                 'total_rec_prncp': 'float64',
                 'total_rev_hi_lim': 'float64',
                 'verification_status': 'O',
                 'verification_status_joint': 'O',
                 'zip_code': 'O'}

path1="C:/Users/sawacha/Desktop/Transition and stuff/DSP 19/Project/Python Project - Bank Lending/XYZCORP_LENDINGDATA.csv"

data_raw = pd.read_csv(path1, dtype=col_dict, low_memory=False)

data_raw= data_raw.drop(columns="default_ind")

In [6]:
data_raw.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pickle